.room-inviter {
    color: #d6d9dc;
    background-color: #262625;
    height: 100vh;
    width: 100%;
}

.room-inviter__nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    padding: 10px 90px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
}

.landing__nav__logo {
    cursor: pointer;
}

.landing__nav__logo>h1 {
    font-size: 30px;
}

.landing__nav__logo>img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.room-inviter__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 90px;
    background-color: #262625;
}

.room-inviter__body-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}


.room-inviter__body-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;
    margin-left: 40px;
}

.room-inviter__body-right>h3,
.room-inviter__body-right>h2,
.room-inviter__body-right>button {
    width: 100%;
    text-align: center;
}

.room-inviter__body-right>h2 {
    margin-top: 20px;
    font-weight: 900;
    font-size: 40px;
}


.room-inviter__body-left__video-card {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set the desired aspect ratio (e.g., 1:1 for square, 16:9 for widescreen) */
    aspect-ratio: 16/9;
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 1;
    max-width: 800px;
    width: 100%;
    margin-bottom: 10px;
}

.room-inviter__body-left__video-controls {
    position: absolute;
    bottom: -55px;
    margin-top: auto;
}

.videocall__buttons>button>.icon {
    color: #fff;
}

.room-inviter__body-left__video-controls>button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 15px;
    background-color: #2b2d31;
}

.room-inviter__body-left__video-controls>button:hover {
    background-color: #3e4146;
}

.room-inviter__body-left__video-controls>.inactive {
    background-color: #e73e41;
}

.room-inviter__body-left__video-controls>.inactive:hover {
    background-color: #e74c4e;
}

.room-inviter__submit-btn {
    background-color: #1c9dea;
    width: 100%;
    max-width: 500px;
    height: 50px;
    margin-top: 20px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
}

.room-inviter__form-control {
    width: 100%;
    max-width: 500px;
}

.room-inviter__body-left__video-card>.video {
    width: 100%;
    height: 100%;
}

.room-inviter__body-left__video-card__placeholder__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.room-inviter__body-left__video-card__placeholder__icon--active {
    display: flex;
}

/* FULL WIDTH VIDEO */
/* .room-inviter__body-left__video-card>.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

@media (max-width: 1000px) {}

@media (max-width: 900px) {
    .room-inviter {
        flex-direction: column;
        justify-content: start;
    }

    .room-inviter__nav {
        position: relative;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    .room-inviter__body {
        padding: 20px;
        flex-direction: column;
        justify-content: start;
    }

    .room-inviter__body-left {
        margin-bottom: 0;
        padding-bottom: 0;
        justify-content: start;
        margin: 0 auto;
        margin-top: 10px;
        flex: 0;
    }

    .room-inviter__body-left__video-controls {
        position: relative;
        padding: 0;
        margin: 0;
        bottom: 0;
    }

    .room-inviter__body-left__video-controls>button {
        margin: 0 10px;
    }

    .room-inviter__body-left__video-card {
        width: 100%;
        max-width: 450px;
        margin-bottom: 10px;
        flex: 0;
    }

    .room-inviter__body-right {
        justify-content: start;
        padding-top: 20px;
        margin: 0 auto;
        width: 100%;
        align-items: center;
        flex: 0;
    }

    .room-inviter__body-right>h2 {
        margin-top: 0;
        font-weight: 900;
        font-size: 22px;
    }

    .room-inviter__body-right>h3 {
        margin-top: 0;
        font-weight: 600;
        font-size: 20px;
    }

    .room-inviter__submit-btn {
        background-color: #1c9dea;
        width: 100%;
        max-width: 450px;
        height: 50px;
        margin-top: 10px;
        border-radius: 8px;
        color: #fff;
        font-weight: bold;
    }

    .room-inviter__form-control {
        width: 100%;
        max-width: 450px;
    }

    .landing__nav__logo {
        padding: 0 0;
        cursor: pointer;
    }
}

@media (max-width: 600px) {}