.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    min-width: 450px;
    max-width: 500px;
    min-height: 300px;
    width: fit-content;
    background-color: #191b1f;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
}

.modal__close-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #d6d9dc;
}

.modal__content {
    color: #d6d9dc;
}