.poll-form {
    display: flex;
    flex-direction: column;
    background-color: #191b1f;
}

.poll-form__options__label {
    margin-top: 10px;
}

.poll-form__option {
    display: flex;
    align-items: center;
}

.poll-form input {
    background-color: #25262c;
}

.poll-form__add-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 5px;
}

.poll-form__submit-btn {
    background-color: #1c9dea;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
}