.videocall {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videocall__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 935px;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.videocall__container--chat-active {
    left: calc(50% - 200px);
}

.videocall__container--big {
    max-width: 1335px;
    margin-top: 70px;
}

.videocall__container--massive {
    max-width: 745px;
    margin-top: 50px;
}

.videocall__title {
    margin: 20px 30px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
    font-size: 23px;
}

.videocall__videos {
    /* Adjust the maximum width of the container as needed */
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.videocall__videos__pinned {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.videocall__videos__not-pinned--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    grid-gap: 10px;
    /* Adjust the gap between rectangles as needed */
}

.videocall__videos__not-pinned--row {
    display: flex;
    justify-content: center;
}

.videocall__container--massive .videocall__videos__not-pinned--grid {
    display: flex;
    justify-content: center;
}

.videocall__videos__user-card__video__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.videocall__videos__user-card__video__container>button {
    position: absolute;
    top: 10px;
    right: 0;
    opacity: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #25262c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videocall__videos__user-card__video__container:hover>button {
    opacity: 1;
}

.videocall__videos__user-card__video__container>.videocall__videos__user-card__video__button--active {
    opacity: 1;
}

.videocall__videos__user-card {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set the desired aspect ratio (e.g., 1:1 for square, 16:9 for widescreen) */
    aspect-ratio: 16/9;
    transition: all 0.3s ease;
    flex: 1;
}

.videocall__videos__user-card__menu {
    position: absolute;
    top: -168px;
    right: -29px;
    border-radius: 8px;
    width: 200px;
    font-size: 15px;
    background-color: black;
}

.videocall__videos__user-card__menu--below {
    top: 68px;
    right: -29px;
}

.videocall__videos__user-card__menu li {
    background-color: black;
    color: #ffffff;
    border-radius: 8px;
}

.videocall__videos__user-card__menu li:hover {
    background-color: #25282c;
    border-radius: 8px;
}

.videocall__videos__user-card__menu button {
    width: 100%;
    height: 100%;
    padding: 0;
    padding: 15px 15px;
    text-align: left;
    display: flex;
    align-items: center;
}

.videocall__videos__user-card__menu>.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid black;
    transform: rotate(180deg) scale(0.25);
    bottom: -60px;
    right: 0px;
}

.videocall__videos__user-card__menu--below>.triangle {
    bottom: 123px;
    transform: rotate(0) scale(0.25);
}

.videocall__videos__user-card--active {
    order: -1;
}

.videocall__videos__not-pinned--row .videocall__videos__user-card {
    max-width: 250px;
    margin: 0 10px;
}

.videocall__videos__user-card--more:first-child,
.videocall__videos__user-card--more:last-child {
    margin: 0;
    /* Remove margin from first and last elements */
}

.videocall__videos__pinned .videocall__videos__user-card {
    max-width: 590px;
}

.videocall__container--massive .videocall__videos__user-card {
    max-width: none;
}

.videocall__container--massive .videocall__videos__pinned {
    margin-bottom: 0;
}

.videocall__videos__user-card__video {
    width: 100%;
    height: 100%;
    margin-left: 14px;
}

.videocall__videos__user-card__video--not-active {}

.videocall__user-card__name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 3px 6px;
    border-radius: 5px;
    background-color: gainsboro;
    opacity: 1;
    transition: all 0.5s ease;
}

.videocall--hide {
    opacity: 0;
}

.videocall__buttons {
    /* position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); */
    transition: all 0.5s ease;
    margin-top: 20px;
}

.videocall__buttons>button>.icon {
    color: #fff;
}

.videocall__buttons>button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #2b2d31;
}


.videocall__buttons>button:hover {
    background-color: #3e4146;
}

.videocall__buttons>.videocall__buttons__button--inactive {
    background-color: #e73e41;
}

.videocall__buttons>.videocall__buttons__button--inactive:hover {
    background-color: #e74c4e;
}

.videocall__buttons>.videocall__buttons__phone-btn {
    background-color: #e73e41;
}

.videocall__buttons>.videocall__buttons__phone-btn:hover {
    background-color: #e74c4e;
}

.videocall__buttons>.videocall__buttons__share--active {
    background-color: #1c9dea;
}

.videocall__buttons>.videocall__buttons__share--active:hover {
    background-color: #3ba9e9;
}

.chat {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background: #e73e41;
}

.videocall__videos__user-card__placeholder {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set the desired aspect ratio (e.g., 1:1 for square, 16:9 for widescreen) */
    aspect-ratio: 16/9;
    transition: all 0.3s ease;
    flex: 1;
    width: 745px;
    border-radius: 10px;
}

.videocall__videos__user-card__placeholder__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.videocall__videos__user-card__placeholder__icon--active {
    display: flex;
}

.videocall__videos__user-card__video {
    position: relative;
}

.videocall__videos__user-card__video--not-active {
    background-color: black;
}