.videocall {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.videocall__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 100vh;
}

.videocall__container--chat-active {
    left: calc(50% - 200px);
}

.videocall__title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 20px 30px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
    font-size: 23px;
    transition: all 0.5s ease;
}

.videocall__videos {
    /* Adjust the maximum width of the container as needed */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.videocall__videos__pinned {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.videocall__videos__not-pinned--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    row-gap: 10px;
    column-gap: 20px;
    margin: 0 auto;
    width: 100%;
    /* Adjust the gap between rectangles as needed */
}

.videocall__videos__not-pinned--row {
    display: flex;
    justify-content: center;
}

.videocall--1 .videocall__videos__not-pinned--grid,
.videocall--1 .videocall__videos__pinned {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.videocall--1 .videocall__videos__user-card {
    max-width: 1000px;
    width: 100%;
}

.videocall--2 .videocall__videos__user-card {
    max-width: 800px;
}

.videocall--3 .videocall__videos {
    margin-top: 5px;
}

.videocall--3 .videocall__videos__not-pinned--grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    place-items: center;
    justify-items: center;
    max-width: 1150px;
}

.videocall--3 .videocall__videos__user-card {
    width: 100%;
    justify-self: center;
    align-self: center;
}

.videocall--3 .videocall__videos__user-card:last-child {
    width: 50%;
    grid-row: 3;
    grid-column: 1 / -1;
    /* Span across all columns */
    justify-self: center;
    align-self: center;
}

.videocall--3 .videocall__videos__pinned .videocall__videos__user-card:last-child {
    width: 100%;
}

.videocall--4 .videocall__videos__user-card {
    max-width: 460px;
}

.videocall__videos__user-card__video__container {
    width: 100%;
    height: 100%;
}

.videocall__videos__user-card__video__container>button {
    position: absolute;
    top: 10px;
    right: 0;
    opacity: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #25262c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videocall__videos__user-card__video__container:hover>button {
    opacity: 1;
}

.videocall__videos__user-card__video__container>.videocall__videos__user-card__video__button--active {
    opacity: 1;
}

.videocall__videos__user-card {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set the desired aspect ratio (e.g., 1:1 for square, 16:9 for widescreen) */
    aspect-ratio: 16/9;
    transition: all 0.3s ease;
    flex: 1;
    width: 100%;
}

.videocall__videos__user-card__menu {
    position: absolute;
    top: -168px;
    right: -29px;
    border-radius: 8px;
    width: 200px;
    font-size: 15px;
    background-color: black;
}

.videocall__videos__user-card__menu--below {
    top: 68px;
    right: -29px;
}

.videocall__videos__user-card__menu li {
    background-color: black;
    color: #ffffff;
    border-radius: 8px;
}

.videocall__videos__user-card__menu li:hover {
    background-color: #25282c;
    border-radius: 8px;
}

.videocall__videos__user-card__menu button {
    width: 100%;
    height: 100%;
    padding: 0;
    padding: 15px 15px;
    text-align: left;
    display: flex;
    align-items: center;
}

.videocall__videos__user-card__menu>.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid black;
    transform: rotate(180deg) scale(0.25);
    bottom: -60px;
    right: 0px;
}

.videocall__videos__user-card__menu--below>.triangle {
    bottom: 123px;
    transform: rotate(0) scale(0.25);
}

.videocall__videos__user-card--active {
    order: -1;
}

.videocall__videos__not-pinned--row .videocall__videos__user-card {
    max-width: 200px;
    margin: 0 10px;
}

.videocall__videos__not-pinned--row .videocall__videos__user-card__placeholder__icon {
    width: 60px;
    height: 60px;
}

.videocall__videos__not-pinned--row .icon {
    font-size: 30px;
}

.videocall__videos__user-card--more:first-child,
.videocall__videos__user-card--more:last-child {
    margin: 0;
    /* Remove margin from first and last elements */
}

.videocall__container--massive .videocall__videos__pinned {
    margin-bottom: 0;
}

.videocall__videos__user-card__video {
    width: 100%;
    height: 100%;
    margin-left: 14px;
}

.videocall__videos__user-card__video--not-active {}

.videocall__user-card__name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 3px 6px;
    border-radius: 5px;
    background-color: gainsboro;
    opacity: 1;
    transition: all 0.5s ease;
}

.videocall--hide,
.title--hide {
    opacity: 0;
}

.videocall__buttons {
    /* position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); */
    transition: all 0.5s ease;
    margin-top: 20px;
    position: fixed;
    bottom: 80px;
}

.videocall__buttons>button>.icon {
    color: #fff;
}

.videocall__buttons>button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #2b2d31;
}


.videocall__buttons>button:hover {
    background-color: #3e4146;
}

.videocall__buttons>.videocall__buttons__button--inactive {
    background-color: #e73e41;
}

.videocall__buttons>.videocall__buttons__button--inactive:hover {
    background-color: #e74c4e;
}

.videocall__buttons>.videocall__buttons__phone-btn {
    background-color: #e73e41;
}

.videocall__buttons>.videocall__buttons__phone-btn:hover {
    background-color: #e74c4e;
}

.videocall__buttons>.videocall__buttons__share--active {
    background-color: #1c9dea;
}

.videocall__buttons>.videocall__buttons__share--active:hover {
    background-color: #3ba9e9;
}

.chat {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background: #e73e41;
}

.videocall__videos__user-card__placeholder {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set the desired aspect ratio (e.g., 1:1 for square, 16:9 for widescreen) */
    aspect-ratio: 16/9;
    transition: all 0.3s ease;
    flex: 1;
    width: 745px;
    border-radius: 10px;
}

.videocall__videos__user-card__placeholder__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.videocall__videos__user-card__placeholder__icon--active {
    display: flex;
}

.videocall__videos__user-card__video {
    position: relative;
}

.videocall__videos__user-card__video--not-active {
    background-color: black;
}

.videocall__videos__pinned .videocall__videos__user-card {
    max-width: 900px;
}

@media (max-width: 1100px) {
    .videocall--2 .videocall__videos__not-pinned--grid {
        display: grid;
    }
}

@media (max-width: 900px) {

    .videocall__videos__not-pinned--grid,
    .videocall__videos__pinned {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .videocall__videos__not-pinned--row {
        display: flex;
        margin-top: 15px;
    }

    .videocall__container {
        padding: 20px;
        max-width: 100%;
        width: 100%;
    }

    .videocall--1 .videocall__videos__not-pinned--grid {
        margin-bottom: 100px;
    }

    .videocall--1 .videocall__videos__pinned {
        margin-bottom: 50px;
    }

    .videocall--2 .videocall__videos {
        margin-top: 20px;
    }

    .videocall--2 .videocall__videos__not-pinned--grid {
        display: flex;
    }

    .videocall--2 .videocall__videos__pinned {
        width: 100%;
    }

    .videocall--2 .videocall__videos__user-card {
        max-width: 500px;
    }

    .videocall--3 .videocall__videos__not-pinned--grid {
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    .videocall--3 .videocall__videos__user-card {
        width: 100%;
        max-width: 400px;
        justify-self: center;
        align-self: center;
    }

    .videocall--3 .videocall__videos__user-card:last-child {
        width: 50%;
        grid-row: 3;
        grid-column: 1 / -1;
        /* Span across all columns */
        justify-self: center;
        align-self: center;
    }

    .videocall--3 .videocall__videos__pinned .videocall__videos__user-card:last-child {
        width: 100%;
    }

    .videocall .videocall__videos__pinned .videocall__videos__user-card {
        max-width: 100%;
    }

    .videocall--4 .videocall__videos__not-pinned--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

    }

    .videocall--4 .videocall__videos {
        margin-top: 10px;
    }

    .videocall--4 .videocall__videos__user-card {
        max-width: 560px;
    }

    .videocall__videos__not-pinned--row .videocall__videos__user-card {
        max-width: 250px;
    }

    .videocall__videos__not-pinned--row .videocall__videos__user-card {
        display: flex;
        margin-top: 5px;
    }

    .videocall__videos__pinned .videocall__videos__user-card {
        max-width: 100%;
    }

}

@media (max-width: 600px) {
    .videocall__videos__user-card__placeholder__icon {
        width: 70px;
        height: 70px;
    }

    .videocall__videos__not-pinned--grid .icon,
    .videocall__videos__pinned .icon,
    .videocall__videos__not-pinned--row .icon {
        font-size: 25px;
    }

    .videocall--2 .videocall__videos {
        margin-top: 30px;
    }


    .videocall--3 .videocall__videos__not-pinned--grid {
        display: flex;
    }

    .videocall--3 .videocall__videos__user-card {
        width: 100%;
    }

    .videocall--3 .videocall__videos__user-card:last-child {
        width: 100%;
    }

    .videocall--3 .videocall__videos__user-card {
        max-width: 350px;
    }

    .videocall--3 .videocall__videos__pinned .videocall__videos__user-card {
        max-width: 100%;
    }

    .videocall--4 .videocall__videos__not-pinned--grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .videocall--4 .videocall__videos {
        margin-top: 0;
    }

    .videocall--4 .videocall__videos__user-card {
        max-width: 250px;
    }

    .videocall--4 .videocall__videos__not-pinned--row {}

    .videocall--4 .videocall__videos__pinned .videocall__videos__user-card {
        width: 100%;
        max-width: 100%;
    }

    .videocall--4 .videocall__videos__not-pinned--row {
        /* width: 100%; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        place-items: center;
        justify-items: center;
        column-gap: 10px;
    }

    .videocall--4 .videocall__videos__not-pinned--row .videocall__videos__user-card {
        /* width: 100%; */
        max-width: 500px;
        justify-self: center;
        align-self: center;
    }

    .videocall--4 .videocall__videos__not-pinned--row .videocall__videos__user-card:last-child {
        width: 50%;
        grid-row: 3;
        grid-column: 1 / -1;
        /* Span across all columns */
        justify-self: center;
        align-self: center;
        margin-top: 10px;
    }

}